

#app {
    display: grid;
    padding: 0 2rem;
    min-height: 100vh;
    width:100%
}
.main_content{
  min-height: 80vh;
}
li{
  cursor: pointer;
}

.day-mode {
  /* Day mode styles */
  background-color: #fff;
  color: #000;
}

.night-mode {
  /* Night mode styles */
  background-color: #1a1a1a;
  color: #fff;
}